files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD4Pl0McTGPuK+Wyd6LqWGTxQ0hcxoNQAg0abzRUfH6sOf5+xrR1OSkzmBpmrdyBkadKppvVohaxnBcutrpf6jVyuB22cmEbKlPA7CkSJzxjvD+qjBbCpANfi/etsytPV2HTD58WFUGS7NhjO2F5whTxUNFiDWa4G07GHXPXo8l2vkaZzhHAW7A7qKYEy+GS6DOuSvGlI/ZlgVEtAZO5v+KofRhRL4fID9jT1cdI8zkKg/tP0mxJ1kjx6H5arebnktEmcKcPZqKjYHv50tlAA92UwUoP57ki59s0jcMwdUEZ6Z7X6I5oKCvVceaAiFh0GzhPEPWARDgwprxRWw/zwFl longle@MBP-de-Long
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKeELTYV2vpLs3W80BEpx0PYgnXFiLAsT+Oq+Xrr3mWioZcrzyUJuo0DTn8TQVr1w+jZt+iSSnpV0HW2lzuRae7Dr9k/22V/wou3qlMHpptZw0fOXDnh0QgCsWDuMUaleeuwbr1LMjznvvvel0FcH9rsmKuocYRDr0hrTGdgH3PmORVPP35WyHlsMMmkrRYd6rtHcABd7w9YJGmHYWbZofzy5h7dItHZgAszPBDoRsfEkU9z1k3aoeTWu3ecf752zP9d6YWFGFHKprkuKjayBOGsaI5LMWgO0TSk4mnpP+g674PgrMkfcRIK4fEYJCykwjT0IfxwY0C7XvmLCjH7o1 florianbruniaux@MacBook-Pro-de-Florian.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLSj/9/Q+lpxEBwhS+97YgR5lGQMMhLPLZb/pzth1+SeXfzd0X1FV6ao35fVSKeKp1gM/pnsvt+6AN+la1ZVLNK/0/m2+O7fCf8Sg/5xP48iyD1TQhxRnSs4AONK7NdY8w0xUJ/VGyslqT5+eHP7TISC1+pLcCDPK+SOehyhymo0pJ28XTb5SBljgQCVKYuXlEf3ror6keFq/hwUWLrcubmn9y6L9ZNgWjYYrfanCS9boPtbHednDmEqCEbo1R2uPeaPfOlo1W5iX70kdaffzktG/CaguAQbKZeB9PvJCOT2+jLuLqkwFm/Cvt6QRcSlvLuTEjZuYD9ewsLFTLuPRv azayed@explain.fr

commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys