files:
  /root/.ssh/id_rsa:
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN OPENSSH PRIVATE KEY-----
      b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
      NhAAAAAwEAAQAAAQEAyosk4eflpq11+YniPlMF8LNUefU6h5Fj5T4yMrrkG1pD8kmIO69H
      VjwQDwZaeIFurMO4waZEbGRKCnzCEXvG1NI2/f/U58pV/ZtaafX/mklrVee9ZA+dejf3Y0
      0YmR9ZaXlORm6a0zRY0iQMOPRqeJNEZupogHcKYpZYyUn0YlqNG0FRpbQBAeRryG8lUjvd
      QHSfm9Z2Yr0y2L/Q8M3KfIvBsfndTmNOu1xeNy1pxt47/1zr1idwYEc0luJ+VFEce45zxp
      DCavOqyCoBpvqdTDF27L+dGEKTWoEValmT9CJKwS1YlsddVCgzdZWUGSVst1bVZKaSqIOZ
      mCBnMnu1AwAAA8gQTuv8EE7r/AAAAAdzc2gtcnNhAAABAQDKiyTh5+WmrXX5ieI+UwXws1
      R59TqHkWPlPjIyuuQbWkPySYg7r0dWPBAPBlp4gW6sw7jBpkRsZEoKfMIRe8bU0jb9/9Tn
      ylX9m1pp9f+aSWtV571kD516N/djTRiZH1lpeU5GbprTNFjSJAw49Gp4k0Rm6miAdwpill
      jJSfRiWo0bQVGltAEB5GvIbyVSO91AdJ+b1nZivTLYv9Dwzcp8i8Gx+d1OY067XF43LWnG
      3jv/XOvWJ3BgRzSW4n5UURx7jnPGkMJq86rIKgGm+p1MMXbsv50YQpNagRVqWZP0IkrBLV
      iWx11UKDN1lZQZJWy3VtVkppKog5mYIGcye7UDAAAAAwEAAQAAAQAN3TRrGjqIDDuVFzEb
      Xwd7EGtp5bVZ7kPOP1GkU1Kl5Knd/daLb1YMuxPGU4MB2KpAvSz6ZG0uljbTPPLzy2syyi
      jlfguOyjTUpTutIR+b6gak3LYEEWWQJiCS9YYHhTPTmnAXNh728hBaYglMJL7c/geim80H
      bh6R3QS60osd6EGD7zm4gRmAVTB2S46Z52lFkOcTNClizSvEezrQ0rfhjDWT8AFc8Jqr6v
      fqGtwIZ1Bmq/v/9XnnmUyujlqx6ovq7vYerAI5i5lUn+1hc8Exxqd3zyQ58L0e2JRg1ssG
      ZIb7DbkHhYSBMn6xEsdnuIzFhXzwdh+Hurpr5kGWIUzxAAAAgQCWKNIqK9DiExm9CxAtSI
      4gerH7bkIIpwQzbv4WaKR7tvzXvNBrB1+MsTk+BpM4dRai1TLOTQd41IMSxKdHfc0EciDI
      YcE5piBpFkLVdVArbECV/mbZGRTOIZlZ2VCBNpND5eKBlp7Fa8V28v9xeRI3Xv6bC2kMsS
      smalezW9zoUwAAAIEA/OlL0w8d0IlcMK9/3BaeMlyU9ldFqnnK60ymfeQkXAyzGSvFNOJB
      f0n+UH9mVkb28uElrngvzKjLjJU+cthIknxJ5LwZxVxkK0ab2JiuiOiF6QSd/pKZJh7paG
      TEskBXtuDpYmqamevFCF22ETrqJXvaW5kqDWRfwW8/3OEYr00AAACBAM0EYK9WoB5bKRzh
      sX0xr4TxN579Y+id0LEj1rX/59Jm8FVtWThndFm9+Jla8YaWbMZvzHy2yug/zZZwLSlB+6
      bJza+0LEtgodLPb6/EneBB5TwMDGN0JPjXSWzMVYuxTlKdr5WLjwe7iH8Ba0vxEOgn1y9i
      FMY3V6buvqwURm2PAAAADXJvbWFpbkByb21haW4BAgMEBQ==
      -----END OPENSSH PRIVATE KEY-----
  /root/.ssh/config:
    mode: "000644"
    owner: root
    group: root
    content: |
      Host bitbucket.org
        HostName bitbucket.org
        IdentityFile ~/.ssh/id_rsa
        User git
  /root/.ssh/known_hosts:
    mode: "000644"
    owner: root
    group: root
    content: |
      |1|PxQjcut4DjXf4DERsBVGr0uubWE=|4qUiSqzvOAE8BcgSDf/PtJfrSFk= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAubiN81eDcafrgMeLzaFPsw2kNvEcqTKl/VqLat/MaB33pZy0y3rJZtnqwR2qOOvbwKZYKiEO1O6VqNEBxKvJJelCq0dTXWT5pbO2gDXC6h6QDXCaHo6pOHGPUy+YBaGQRGuSusMEASYiWunYN0vCAI8QaXnWMXNMdFP3jHAJH0eDsoiGnLPBlBp4TNm6rYI74nMzgz3B9IikW4WVK+dc8KZJZWYjAuORU3jc1c/NPskD2ASinf8v3xnfXeukU0sJ5N6m5E8VLjObPEO+mN2t/FZTMZLiFqPWc/ALSqnMnnhwrNi2rbfg/rd/IpL8Le3pSBne8+seeFVBoGqzHM9yXw==
