files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/005_post_deployment.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Main ec2-user config file
      sudo rm -rf /home/ec2-user/.bash_profile
      sudo mv /opt/python/current/app/aws/.bash_profile /home/ec2-user
      source /home/ec2-user/.bash_profile
      sudo chown ec2-user:ec2-user /home/ec2-user/.bash_profile

      # Aliases etc
      sudo rm -rf /home/ec2-user/.bashrc
      sudo cp /opt/python/current/app/aws/.bashrc /home/ec2-user
      source /home/ec2-user/.bashrc
      sudo chown ec2-user:ec2-user /home/ec2-user/.bashrc

      # Nano colorization
      sudo mv /opt/python/current/app/aws/.nanorc /home/ec2-user
      source /home/ec2-user/.nanorc
      sudo chown ec2-user:ec2-user /home/ec2-user/.nanorc

